footer {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: #999999;
}

footer a {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: #999999;
}

.header-leftBox {
    height: 38px;
    background-image: linear-gradient(0deg, #ededed 0%, #f9f9f9 100%), linear-gradient( #ffffff, #ffffff);
    border-radius: 19px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
}

.header-leftBox a:nth-child(1) {
    background-image: linear-gradient(0deg, #478fe3 0%, #1e58ac 100%), linear-gradient( #ffffff, #ffffff);
    color: #FFFFFF;
    box-sizing: border-box;
    border-top-left-radius: 18px;
    border-bottom-left-radius:18px !important;
}

.header-leftBox a {
    background-image: linear-gradient(0deg, #ededed 0%, #f9f9f9 100%), linear-gradient( #ffffff, #ffffff);
    border: none;
}

.getpng {
    background-image: url(../img/banner2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 400px;
    background-color: rgb(223, 227, 243);
}

.getpng .d2 {
    width: 330px;
    height: 301px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    right: 5%;
    top: 50px;
    z-index: 2;
}

.d2 form {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    padding: 0px 40px 17px 40px;
}

.d2 form .logoinputstyle {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border: solid 1px #139ae7;
    width: 100%;
    text-indent: 25px;
}

.title {
    font-family: MicrosoftYaHei;
    font-size: 20px;
    color: #139ae7;
    line-height: 50px;
}

.logoinputstyle::-webkit-input-placeholder {
    font-family: SimSun;
    font-size: 14px;
    color: #139ae7 !important;
}

.logoinputstyle:-moz-placeholder {
    font-family: SimSun;
    font-size: 14px;
    font-weight: normal;
    color: #139ae7 !important;
}

.logoinputstyle::-moz-placeholder {
    font-family: SimSun;
    font-size: 14px;
    color: #139ae7 !important;
}

.logoinputstyle:-ms-input-placeholder {
    font-family: SimSun;
    font-size: 14px;
    color: #139ae7 !important;
}

.logonIcon {
    position: absolute;
    width: 20px;
    height: 22px;
    left: 6px;
    top: 4px;
    z-index: 100;
}

.usenameIcon {
    background-image: url(../img/usenameicon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.passwordIcon {
    background-image: url(../img/passwordicon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.checkIcon {
    background-image: url(../img/checkicon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 16px;
}

.logon-register {
    width: 101px;
    height: 33px;
    background-image: linear-gradient(0deg, #0b8fdb 0%, #4ac6ef 100%), linear-gradient( #ffffff, #ffffff);
    border-radius: 3px;
    /*border: solid 1px #dd8700;*/
    font-family: MicrosoftYaHei;
    font-size: 15px;
    color: #ffffff;
    float: left;
}
.logon-register:hover{
    background-color: #0B86CD;
    color: #FFFFFF;
}

.logon-landing {
    width: 101px;
    height: 33px;
    background-image: linear-gradient(0deg, #e57c00 0%, #f2aa0f 100%), linear-gradient( #ffffff, #ffffff);
    border-radius: 3px;
    /*border: solid 1px #dd8700;*/
    font-family: MicrosoftYaHei;
    font-size: 15px;
    color: #ffffff;
    float: right;
}
.logon-landing:hover{
    background-color: #E27A00;
    color: #FFFFFF;
}

.logon-centerBox>div {
    height: 400px;
}